<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyNoAnswersinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentYesAnswersssembly>
        <assemblyIdentity name="System.UndefinedAnswersomponentModel.YesAnswersnnotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentYesAnswersssembly>
    </assemblyNoAnswersinding>
  </runtime>
</configuration>